:root {
  --background-color: #fff;
  --backround-section-dark: #2e2f42;
  --background-section-light: #f4f4fd;

  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;

  --primary-white-color: #fff;

  --link-def-color: #2e2f42;
  --link-hov-color: #434455;

  --bt-bg-color: #4d5ae5;
  --bt-acc-color: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ol,
ul {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------UTILITARIAN CLASSES------ */
.container {
  width: 1158px;
  padding: 0px 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.04em;

  border-style: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* ----------------LOGO------------ */

.logo {
  padding: 24px 0px;
  margin-right: 76px;

  text-transform: uppercase;

  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logo-part {
  color: var(--accent-color);
}

/* ------------HEADER -------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-link,
.header-mail,
.header-tel {
  padding: 24px 0px;
}

.header-list,
.address-list {
  display: flex;
}

.address-list > li:not(:last-child) {
  margin-right: 40px;
}

.header-list > li:not(:last-child) {
  margin-right: 40px;
}

.address-name {
  margin-left: auto;
}

.header-link {
  color: var(--link-def-color);
  font-weight: 600;
}
.header-link.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--link-hov-color);
}

.header-link:active {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  color: var(--primary-text-color);
  font-style: normal;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* --------HERO SECTION------ * */

.hero {
  background-color: var(--backround-section-dark);
  padding: 188px 0px;
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  max-width: 494px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-hero {
  min-width: 169px;

  color: #fff;
  background-color: var(--bt-bg-color);
  line-height: 1.18;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-hero:hover,
.button-hero:focus,
.button-hero:active {
  background-color: var(--bt-acc-color);
}

/* --------Advantages section------ */

.advantages {
  padding: 120px 0px;
}

.advantages-list {
  display: flex;
}

.advantages-items {
  max-width: 264px;
}

.advantages-items:not(:last-child) {
  margin-right: 24px;
}

/* --------Examples section------ */

.examples {
  padding-bottom: 120px;
}

.example-list {
  display: flex;
}

.example-items:not(:last-child) {
  margin-right: 24px;
}

.example-items {
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(2225.jpg);
  background-blend-mode: soft-light, normal;

  border: 1px solid #e7e9fc;
}

.advantages-title,
.team-name,
.works-names {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-title,
.examples-title {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;

  text-align: center;
}

/* --------Team section------ */

.team {
  padding: 120px 0px;
}
.team-list {
  display: flex;
}

.team-photo:not(:last-child) {
  margin-right: 24px;
}

.team {
  background-color: var(--background-section-light);
}

.team-content {
  padding: 32px 16px;
}

.team-photo {
  text-align: center;

  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* -----------PORTFOLIO SECTION-------- */
.portfolio {
  padding: 96px 0px 120px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
}

.portfolio-filter li:not(:last-child) {
  margin-right: 24px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-items {
  margin-right: 24px;
  margin-bottom: 48px;
}

.works-items:nth-child(3n) {
  margin-right: 0px;
}

.works-content {
  padding: 32px 0px 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.works-items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.works-sphere {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.button-portfolio {
  color: var(--accent-color);
  background-color: #f4f4fd;
  line-height: 1.5;
  padding: 12px 24px;
  min-width: 101px;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button.button-portfolio:hover,
.button.button-portfolio:focus,
.button.button-portfolio:active {
  color: #fff;
  background-color: var(--accent-color);
}

/* --------FOOTER------ */
.footer {
  padding: 100px 0px;
}

.footer {
  background-color: var(--backround-section-dark);
}

.footer .logo {
  color: #f4f4fd;
  margin-right: 0px;
  padding: 0px;
}

.footer-text {
  color: #e7e9fc;
  margin-top: 16px;
}

.footer-first {
  width: 264px;
}
